/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39');

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	border: 3px solid black;
	margin: 0 auto;
	width: 1000px;
	height: auto;
}

.main {
	margin-top: 20px;
	/* margin: 0px; */
	display: flex;
	flex-direction: column;
	margin: 50px;
	border: 1px solid red;

}

.container {
	width: 1000px;
	margin: 0 auto;
	border: 1px solid red;
}

.navContainer {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: fixed;
	top: 0;
}

.navContainer img {
	margin-top: 20px;
}

.nav-img {
	margin-left: 50px;
}

.container nav a {
	color: grey;
	text-decoration: none;
	margin: 30px;
	border: 1px solid red;
}

.container nav a:hover {
	text-decoration: underline;
	border: 1px solid red;
}

nav {
	display: flex;
	height: 6%;
	align-items: center;
	background-color: white;
	border: 1px solid green;
}

nav a:hover {
	background: orange;
	color: black;
	border: 1px solid red;
}

.navbar-brand {
	background-color: white;
	width: 325px;
	border: 1px solid red;
}

.navbar-brand:hover {
	background: none;
	border: 1px solid red;
}

.header-one {
	margin-top: 30px;
	padding-bottom: 25px;
	border-bottom: 1px solid black;
	border: 1px solid red;
}

.header-one-title {
	font-family: 'Bangers', cursive;
	font-size: 25px;
	padding-bottom: 20px;
	border: 1px solid red;
}

header img {
	margin-top: 12px;
	width: 100%;
	height: auto;
	border: 1px solid red;
}

p {
	line-height: 1.25;
	border: 1px solid red;
}


h2 {
	text-align: left;
	border: 1px solid red;
}


.content {
	margin-top: 30px;
	padding-bottom: 20px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border-bottom: 2px solid black;
	border: 1px solid red;

}

.box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	width: 375px;
	height: 220px;
	margin-bottom: 20px;
	border: 1px solid black;
	background-color: #f4f3f4;
	border: 1px solid red;
}

.box-title {
	font-family: 'Bangers', cursive;
	font-size: 19px;
	padding-bottom: 20px;
	border: 1px solid red;
}

button {
	font-size: 15px;
	border: 1px solid grey;
	background-color: white;
	/* I can't change the font of the submit button */
	font-family: 'Libre Barcode 39';
	margin-top: 20px;
	padding: 11px 40px 11px 40px;
	border-radius: 8px;
	border: 1px solid red;
}

button:hover {
	background-color: orange;
}

.bottom-content {
	margin-top: 30px;
	padding-bottom: 20px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border: 1px solid red;
}

.box-without-border {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 390px;
	height: 190px;
	margin-bottom: 20px;
	background-color: #f4f3f4;
	border: 1px solid red;
}

.services-info-img {
	height: 320px;
	width: 420px;
	border: 1px solid red;
}

ul {
	list-style-type: square;
	margin-left: 20px;
	border: 1px solid red;
}

li {
	margin-top: 15px;
	border: 1px solid red;
}

footer {
	font-weight: bold;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	margin-top: 80px;
	border: 1px solid red;
}

/* WHEN THE WIDTH OF THE BROWSER/DISPLAY IS <= 600px the .content boxes will stack up */
@media screen and (max-width: 600px) {
	.content {
		margin-top: 30px;
		padding-bottom: 20px;
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		border-bottom: 2px solid black;
	}
}